In [15]:
import pandas as pd
import numpy as np
import os
import sys

In [16]:
data = pd.read_csv('clean_data.csv')

In [29]:
def get_country_data(country:list, directory_name:str, data = ''):
    country_name = [i.capitalize() for i in country]
    print(country_name)
    path = os.getcwd()
    new_dir = os.path.join(path, directory_name)
    status = False
    if not os.path.exists(directory_name):
        os.mkdir(new_dir)
    else:
        print('Directory Exists, data will be saved in existing directory')
    
    for i in country_name:
        if i not in list(data['location']):
            print('Unable to find the specified location')
        else:
            status = True
            print('Found location')
    print(status)
    if not status:
        print('Error, you gave an invalid country name')
    else:
        for i in country_name:
            country_data = data.loc[data['location'] == i]
            try:
                country_data.to_csv(i.lower() + '_covid_data.csv')
                print('Data generated successsfully')
            except Exception as e:
                logger.error('Failed to generate data: '+ str(e))
            return country_data

In [30]:
get_country_data(['Uganda', 'kenya'], 'dsdsdfs', data)

['Uganda', 'Kenya']
Directory Exists, data will be saved in existing directory
Found location
Found location
True
Data generated successsfully

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
175441,175441,Africa,Uganda,2020-03-21,1.0,NaN,NaN,NaN,47123533.0
175442,175442,Africa,Uganda,2020-03-22,1.0,NaN,NaN,NaN,47123533.0
175443,175443,Africa,Uganda,2020-03-23,9.0,NaN,NaN,NaN,47123533.0
175444,175444,Africa,Uganda,2020-03-24,9.0,NaN,NaN,NaN,47123533.0
175445,175445,Africa,Uganda,2020-03-25,14.0,NaN,NaN,NaN,47123533.0
...,...,...,...,...,...,...,...,...,...
176234,176234,Africa,Uganda,2022-05-23,164153.0,3598.0,NaN,NaN,47123533.0
176235,176235,Africa,Uganda,2022-05-24,164331.0,3600.0,NaN,NaN,47123533.0
176236,176236,Africa,Uganda,2022-05-25,164331.0,3600.0,NaN,NaN,47123533.0
176237,176237,Africa,Uganda,2022-05-26,164331.0,3600.0,NaN,NaN,47123533.0
176238,176238,Africa,Uganda,2022-05-27,164366.0,3602.0,NaN,NaN,47123533.0

In [24]:
status = True
not_st = not status
not_st

False

In [32]:
data.loc[data['location'] == 'Kenya']

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
89613,89613,Africa,Kenya,2020-03-06,NaN,NaN,31.0,NaN,54985702.0
89614,89614,Africa,Kenya,2020-03-07,NaN,NaN,NaN,NaN,54985702.0
89615,89615,Africa,Kenya,2020-03-08,NaN,NaN,NaN,NaN,54985702.0
89616,89616,Africa,Kenya,2020-03-09,NaN,NaN,NaN,NaN,54985702.0
89617,89617,Africa,Kenya,2020-03-10,NaN,NaN,NaN,NaN,54985702.0
...,...,...,...,...,...,...,...,...,...
90421,90421,Africa,Kenya,2022-05-23,324274.0,5651.0,NaN,NaN,54985702.0
90422,90422,Africa,Kenya,2022-05-24,324349.0,5651.0,NaN,NaN,54985702.0
90423,90423,Africa,Kenya,2022-05-25,324406.0,5651.0,NaN,NaN,54985702.0
90424,90424,Africa,Kenya,2022-05-26,324469.0,5651.0,NaN,NaN,54985702.0
90425,90425,Africa,Kenya,2022-05-27,324558.0,5651.0,NaN,NaN,54985702.0