In [74]:
import pandas as pd
import numpy as np
import os
import sys
import logging

In [2]:
data = pd.read_csv('clean_data.csv')

In [87]:
def get_data(country:list , directory_name:str, data = data):
    path = os.getcwd()
    new_dir = os.path.join(path, directory_name)
    
    if not os.path.exists(directory_name):
        os.mkdir(new_dir)
    else:
        print('Directory Exists, data will be saved in existing directory')
        
    for i in country:
        if i not in list(data['location'].unique()):
            print('Unable to find the specified location {}'.format(i))
        else:
            country_data = data.loc[data['location'] == i]
            country_data.fillna(0, axis=1, inplace=True)
            country_data.drop(['Unnamed: 0'], axis=1, inplace=True)
            try:
                country_data.to_csv(os.path.join(new_dir,'{}_covid_data.csv'.format(i.lower())))
                print(i, 'Data generated successsfully')
            except Exception as e:
                logging.error('Failed to generate data: '+ str(e))

In [88]:
get_data(['Uganda'], 'Country_Data')

Uganda Data generated successsfully

C:\Users\Alpha_Emm\AppData\Local\Temp\ipykernel_3904\2074872184.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_data.fillna(0, axis=1, inplace=True)
C:\Users\Alpha_Emm\AppData\Local\Temp\ipykernel_3904\2074872184.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [89]:
kenya_data = pd.read_csv('Country_Data/uganda_covid_data.csv')

In [90]:
kenya_data

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
0,175441,Africa,Uganda,2020-03-21,1.0,0.0,0.0,0.0,47123533.0
1,175442,Africa,Uganda,2020-03-22,1.0,0.0,0.0,0.0,47123533.0
2,175443,Africa,Uganda,2020-03-23,9.0,0.0,0.0,0.0,47123533.0
3,175444,Africa,Uganda,2020-03-24,9.0,0.0,0.0,0.0,47123533.0
4,175445,Africa,Uganda,2020-03-25,14.0,0.0,0.0,0.0,47123533.0
...,...,...,...,...,...,...,...,...,...
793,176234,Africa,Uganda,2022-05-23,164153.0,3598.0,0.0,0.0,47123533.0
794,176235,Africa,Uganda,2022-05-24,164331.0,3600.0,0.0,0.0,47123533.0
795,176236,Africa,Uganda,2022-05-25,164331.0,3600.0,0.0,0.0,47123533.0
796,176237,Africa,Uganda,2022-05-26,164331.0,3600.0,0.0,0.0,47123533.0
797,176238,Africa,Uganda,2022-05-27,164366.0,3602.0,0.0,0.0,47123533.0

In [69]:
kenya_data.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
0,Africa,Kenya,2020-03-06,NaN,NaN,31.0,NaN,54985702.0
1,Africa,Kenya,2020-03-07,NaN,NaN,NaN,NaN,54985702.0
2,Africa,Kenya,2020-03-08,NaN,NaN,NaN,NaN,54985702.0
3,Africa,Kenya,2020-03-09,NaN,NaN,NaN,NaN,54985702.0
4,Africa,Kenya,2020-03-10,NaN,NaN,NaN,NaN,54985702.0
...,...,...,...,...,...,...,...,...
808,Africa,Kenya,2022-05-23,324274.0,5651.0,NaN,NaN,54985702.0
809,Africa,Kenya,2022-05-24,324349.0,5651.0,NaN,NaN,54985702.0
810,Africa,Kenya,2022-05-25,324406.0,5651.0,NaN,NaN,54985702.0
811,Africa,Kenya,2022-05-26,324469.0,5651.0,NaN,NaN,54985702.0
812,Africa,Kenya,2022-05-27,324558.0,5651.0,NaN,NaN,54985702.0

In [ ]:
kenya_