In [3]:
import pandas as pd
import numpy as np
import os
import sys

In [4]:
data = pd.read_csv('clean_data.csv')

In [5]:
def get_country_data(country:list, directory_name:str, data = ''):
    country_name = [i.capitalize() for i in country]
    print(country_name)
    path = os.getcwd()
    new_dir = os.path.join(path, directory_name)
    status = [False for i in range(0, len(country_name))]
    new_status = []
    
    if not os.path.exists(directory_name):
        os.mkdir(new_dir)
    else:
        print('Directory Exists, data will be saved in existing directory')
    
    for i in country_name:
        if i not in list(data['location']):
            print('Unable to find the specified location {}'.format(i))
        else:
            new_status.append(True)
            print('Found location')
    print(status)
    print()
    if len(new_status) == len(status):
        for i in country_name:
            country_data = data.loc[data['location'] == i]
            try:
                country_data.to_csv(i.lower() + '_covid_data.csv')
                print('Data generated successsfully')
            except Exception as e:
                logger.error('Failed to generate data: '+ str(e))
            return country_data

In [6]:
get_country_data(['Uganda', 'kya'], 'dsdsdfs', data)

['Uganda', 'Kya']
Found location
Unable to find the specified location Kya
[False, False]

In [43]:
nmaes = ['as','ff','dfff','fff']

In [44]:
status = [False for i in range(0, len(nmaes))]

In [45]:
status

[False, False, False, False]

In [46]:
st = [False, True, False]

In [47]:
if True in st:
    print('Found')

Found

In [39]:
status

[False, False, True, True]

In [32]:
data.loc[data['location'] == 'Kenya']

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
89613,89613,Africa,Kenya,2020-03-06,NaN,NaN,31.0,NaN,54985702.0
89614,89614,Africa,Kenya,2020-03-07,NaN,NaN,NaN,NaN,54985702.0
89615,89615,Africa,Kenya,2020-03-08,NaN,NaN,NaN,NaN,54985702.0
89616,89616,Africa,Kenya,2020-03-09,NaN,NaN,NaN,NaN,54985702.0
89617,89617,Africa,Kenya,2020-03-10,NaN,NaN,NaN,NaN,54985702.0
...,...,...,...,...,...,...,...,...,...
90421,90421,Africa,Kenya,2022-05-23,324274.0,5651.0,NaN,NaN,54985702.0
90422,90422,Africa,Kenya,2022-05-24,324349.0,5651.0,NaN,NaN,54985702.0
90423,90423,Africa,Kenya,2022-05-25,324406.0,5651.0,NaN,NaN,54985702.0
90424,90424,Africa,Kenya,2022-05-26,324469.0,5651.0,NaN,NaN,54985702.0
90425,90425,Africa,Kenya,2022-05-27,324558.0,5651.0,NaN,NaN,54985702.0