In [2]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv('owid-covid-data.csv')

In [28]:
data.isnull().sum()

iso_code                                        0
continent                                   11035
location                                        0
date                                            0
total_cases                                  7495
                                            ...
human_development_index                     37428
excess_mortality_cumulative_absolute       183201
excess_mortality_cumulative                183201
excess_mortality                           183201
excess_mortality_cumulative_per_million    183201
Length: 67, dtype: int64

In [4]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [9]:
data.columns
columns_to_drop = ['iso_code', 'new_cases_smoothed', 'new_cases_smoothed_per_million', 
                   'new_deaths_smoothed_per_million', 'reproduction_rate', 
                  'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million']
data.drop(axis=1, columns=columns_to_drop)

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers
0,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,0.126,0.126,...,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN
1,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,0.126,0.000,...,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN
2,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,0.126,0.000,...,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN
3,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,0.126,0.000,...,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN
4,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,0.126,0.000,...,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189721,Africa,Zimbabwe,2022-05-23,250702.0,60.0,5495.0,1.0,1.571,16611.394,3.976,...,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6
189722,Africa,Zimbabwe,2022-05-24,250929.0,227.0,5496.0,1.0,1.714,16626.435,15.041,...,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6
189723,Africa,Zimbabwe,2022-05-25,251228.0,299.0,5496.0,0.0,1.429,16646.247,19.812,...,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6
189724,Africa,Zimbabwe,2022-05-26,251646.0,418.0,5498.0,2.0,1.571,16673.943,27.696,...,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6
189725,Africa,Zimbabwe,2022-05-27,251959.0,313.0,5500.0,2.0,1.571,16694.682,20.739,...,15092171.0,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6

In [11]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [17]:
clean_data = data[['continent', 'location', 'date', 'total_cases', 'total_deaths', 'total_tests', 
                  'total_vaccinations', 'population' ]]

In [25]:
clean_data.to_csv('clean_data.csv')

In [26]:
clean_data.head()

,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
0,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,39835428.0
1,Asia,Afghanistan,2020-02-25,5.0,NaN,NaN,NaN,39835428.0
2,Asia,Afghanistan,2020-02-26,5.0,NaN,NaN,NaN,39835428.0
3,Asia,Afghanistan,2020-02-27,5.0,NaN,NaN,NaN,39835428.0
4,Asia,Afghanistan,2020-02-28,5.0,NaN,NaN,NaN,39835428.0