In [36]:
import pandas as pd
import numpy as np
import os

In [2]:
data = pd.read_csv('clean_data.csv')

In [3]:
data.describe()

,Unnamed: 0,total_cases,total_deaths,total_tests,total_vaccinations,population
count,189726.000000,1.822310e+05,1.638070e+05,7.712500e+04,5.181800e+04,1.885680e+05
mean,94862.500000,3.239078e+06,6.426256e+04,2.015248e+07,2.219319e+08,1.432665e+08
std,54769.322924,2.033055e+07,3.350252e+05,8.160674e+07,9.574379e+08,6.953897e+08
min,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,4.700000e+01
25%,47431.250000,2.637000e+03,9.300000e+01,3.472750e+05,7.908602e+05,8.960050e+05
50%,94862.500000,3.484600e+04,9.090000e+02,1.968598e+06,6.553344e+06,7.552800e+06
75%,142293.750000,3.738310e+05,8.371500e+03,9.634507e+06,4.180642e+07,3.277620e+07
max,189725.000000,5.284317e+08,6.286540e+06,9.214000e+09,1.181512e+10,7.874966e+09

In [4]:
data.columns

Index(['Unnamed: 0', 'continent', 'location', 'date', 'total_cases',
       'total_deaths', 'total_tests', 'total_vaccinations', 'population'],
      dtype='object')

In [5]:
data.loc[data['location'] == 'Kenya']

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
89613,89613,Africa,Kenya,2020-03-06,NaN,NaN,31.0,NaN,54985702.0
89614,89614,Africa,Kenya,2020-03-07,NaN,NaN,NaN,NaN,54985702.0
89615,89615,Africa,Kenya,2020-03-08,NaN,NaN,NaN,NaN,54985702.0
89616,89616,Africa,Kenya,2020-03-09,NaN,NaN,NaN,NaN,54985702.0
89617,89617,Africa,Kenya,2020-03-10,NaN,NaN,NaN,NaN,54985702.0
...,...,...,...,...,...,...,...,...,...
90421,90421,Africa,Kenya,2022-05-23,324274.0,5651.0,NaN,NaN,54985702.0
90422,90422,Africa,Kenya,2022-05-24,324349.0,5651.0,NaN,NaN,54985702.0
90423,90423,Africa,Kenya,2022-05-25,324406.0,5651.0,NaN,NaN,54985702.0
90424,90424,Africa,Kenya,2022-05-26,324469.0,5651.0,NaN,NaN,54985702.0
90425,90425,Africa,Kenya,2022-05-27,324558.0,5651.0,NaN,NaN,54985702.0

In [43]:
def get_country_data(country, directory_name, data = ''):
    country_name = country.lower()
    options_to_check = [i for i in list(data['location']) if i[0].lower() == country_name[0]][0]
    path = os.getcwd()
    print(path)
    new_dir = os.path.join(path, directory_name)
    if not os.path.exists(directory_name):
        os.mkdir(new_dir)
    else:
        print('Directory Exists')
    if len(options_to_check) == 0:
        print('Error, you gave an invalid country name')
        print(options_to_check)
    else:
        country_data = data.loc[data['location'] == country]
        return country_data

In [44]:
get_country_data('Kenya', 'Country_Data', data)

C:\Users\Alpha_Emm\Desktop\Github\Covid_Data_Analysis
Directory Exists

,Unnamed: 0,continent,location,date,total_cases,total_deaths,total_tests,total_vaccinations,population
89613,89613,Africa,Kenya,2020-03-06,NaN,NaN,31.0,NaN,54985702.0
89614,89614,Africa,Kenya,2020-03-07,NaN,NaN,NaN,NaN,54985702.0
89615,89615,Africa,Kenya,2020-03-08,NaN,NaN,NaN,NaN,54985702.0
89616,89616,Africa,Kenya,2020-03-09,NaN,NaN,NaN,NaN,54985702.0
89617,89617,Africa,Kenya,2020-03-10,NaN,NaN,NaN,NaN,54985702.0
...,...,...,...,...,...,...,...,...,...
90421,90421,Africa,Kenya,2022-05-23,324274.0,5651.0,NaN,NaN,54985702.0
90422,90422,Africa,Kenya,2022-05-24,324349.0,5651.0,NaN,NaN,54985702.0
90423,90423,Africa,Kenya,2022-05-25,324406.0,5651.0,NaN,NaN,54985702.0
90424,90424,Africa,Kenya,2022-05-26,324469.0,5651.0,NaN,NaN,54985702.0
90425,90425,Africa,Kenya,2022-05-27,324558.0,5651.0,NaN,NaN,54985702.0

In [10]:
de = 'rerererer'
de[0]

'r'

In [13]:
'SASASAS'.lower()

'sasasas'

In [42]:
os.getcwd()

'C:\\Users\\Alpha_Emm\\Desktop\\Github\\Covid_Data_Analysis'