In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('clean_data.csv')

In [74]:
def pre_process(path_to_data):
    data = pd.read_csv(path_to_data)
    data.drop(columns='Unnamed: 0', axis=1, inplace=True)
    data.fillna({'total_cases':0, 'total_deaths':0, 'total_tests':0, 'total_vaccinations':0}, inplace=True)
    data = data[data['continent'].notna()]
    return data

In [75]:
clean_data = pre_process('clean_data.csv')

In [77]:
grouped_data = clean_data.groupby(['continent', 'location'])
grouped_data.first()

                                  date  total_cases  total_deaths  \
continent     location
Africa        Algeria       2020-02-25          1.0           0.0
              Angola        2020-03-20          1.0           0.0
              Benin         2020-03-16          1.0           0.0
              Botswana      2020-03-30          3.0           0.0
              Burkina Faso  2020-03-10          1.0           0.0
...                                ...          ...           ...
South America Paraguay      2020-03-07          0.0           0.0
              Peru          2020-03-06          1.0           1.0
              Suriname      2020-03-14          1.0           0.0
              Uruguay       2020-03-13          4.0           0.0
              Venezuela     2020-03-14          2.0           0.0

                            total_tests  total_vaccinations  population
continent     location
Africa        Algeria               0.0                 0.0  44616626.0
              Angola                0.0                 0.0  33933611.0
              Benin                 0.0                 0.0  12451031.0
              Botswana              0.0                 0.0   2397240.0
              Burkina Faso          0.0                 0.0  21497097.0
...                                 ...                 ...         ...
South America Paraguay              1.0                 0.0   7219641.0
              Peru                  0.0                 0.0  33359415.0
              Suriname              0.0                 0.0    591798.0
              Uruguay               0.0                 0.0   3485152.0
              Venezuela             0.0                 0.0  28704947.0

[231 rows x 6 columns]

In [15]:
clean_data['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [72]:
asia_data = clean_data.loc[clean_data['continent']=='Asia']

In [220]:
def group_data(data, group_by_first, group_by_second, aggregate_by):
    group_by = data[group_by_first].unique()
    data_columns = locals()
    generated_data  = []
    for i in group_by:
        grouped_data = data.loc[data[group_by_first] == i]
        unique_vals = grouped_data[group_by_second].unique()
        for ii in unique_vals:
            country_totals = []
            for j in aggregate_by:
                totals = grouped_data.loc[grouped_data[group_by_second]==ii][j].sum()
                country_totals.append(totals)
            generated_data.append(tuple((i,ii, country_totals)))
    generated_data = pd.DataFrame(generated_data)
    generated_data[[i for i in aggregate_by]] = generated_data[2].to_list()
    generated_data.drop(axis=1, columns=2, inplace=True)
    data_columns = list(data_columns.values())[1:-1]
    column_list = data_columns[-1]
    data_columns = data_columns[0:-1]
    for i in column_list:
        data_columns.append(i)
    generated_data.columns = data_columns
    return generated_data

In [221]:
generated_data = group_data(clean_data, 'continent', 'location', 
                            ['total_deaths','total_cases','total_tests','total_vaccinations'])
generated_data

,continent,location,total_deaths,total_cases,total_tests,total_vaccinations
0,Asia,Afghanistan,3189261.0,73374526.0,3.628332e+06,1.780351e+08
1,Asia,Armenia,3222607.0,160145121.0,9.689128e+08,4.138129e+07
2,Asia,Azerbaijan,3422468.0,260311271.0,1.102617e+09,2.840644e+09
3,Asia,Bahrain,631374.0,164465588.0,2.204061e+09,8.166218e+08
4,Asia,Bangladesh,11703293.0,732431045.0,4.191324e+09,1.779574e+10
...,...,...,...,...,...,...
226,Oceania,Tokelau,0.0,0.0,0.000000e+00,3.857000e+03
227,Oceania,Tonga,650.0,649717.0,0.000000e+00,2.512909e+06
228,Oceania,Tuvalu,0.0,0.0,0.000000e+00,6.405600e+04
229,Oceania,Vanuatu,935.0,427717.0,2.344600e+04,2.987996e+06
230,Oceania,Wallis and Futuna,2919.0,198001.0,0.000000e+00,4.309060e+05